
#inputM input[type=text]{
    width: 100%;
    margin: auto;
}

 .row{
    width: 85%;
    height: 400px;
    margin: auto;
    margin-top: -70px;
    background-image: url("../../assets/WhatsApp.jpg");
}

.container{
    width: 100%;
    height: 500px;
    background-color: lightgray;
}

.green{
    height: 100px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #009999;
}

#divAmigos div{
    margin-left: -18px;
}

.row div{
 /*  border: solid; sacar*/  
}

#col2, #col1{
    background-color: #e6e6e6;
    font-weight: bold;
}

#col2 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    
}

#col2 p{
    margin-left: 50px;
    width: 200px;
    margin-top: -25px;
}

.icons{
    margin-left: 80%;
    margin-top: -45px;
    color: #808080;
    width: 80px;
}

.icons i{
    margin: 5px;
    cursor: pointer;
}

#col1 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.icons2{
    width: 50px;
    color: #808080;
    margin: 0px;
    margin-left: 80%;
    margin-top: -30px;
}

.icons2 i{
    margin: 5px;
    cursor: pointer;
}


.smileIcon, .micIcon{
    color: #808080;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    flex:0.5;
}

.micIcon{
    order:3;
}

.micIcon i{
margin-left: 30px;
}

.smileIcon{
 order:1;
}

.smileIcon i{
margin-left: 10px;
}

.divMsn{
    flex:5;
    order:2;
}

#col5{
    background-color:  #e6e6e6;
}

#logout{
    width:30px;
    height: 30px;
    font-size: 7px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 8px;
}

#pCerrarSesion{
    margin-left: -8px;
    margin-top: -2px;
}

@media(min-width:468px){
    #inputM{
        background-color: #e6e6e6;
        display: flex;
    }    
}

#inputM div{
    margin-top: 10px;
}


