i{
    color: white;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 35px;
}
#form{
    margin: auto;
    width: 407px;
}


body, .gray{
    background-color: #f2f2f2;
}

.gray{
    padding-top: 25px;
}

.wspLogo{
    background-color: #009999;
    width: 407px;
    margin: auto;
}

h1{
    margin-top: 20px;
    padding-bottom: 15px;
}

.modal-title{
    font-size: 16px;
    font-weight: 500;
    color: #4A4A4A;
    position: absolute;
}

.modal-header button{
    display: flex;
    justify-content: flex-end;
}

.modal-body {
    font-size: 14px;
    color: #4A4A4A;
}

 .modal-footer{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;     
}